
#scene {
    position: relative;
    width: 600px;
    height: 600px;
    background-image: url(sun.jpg),url(women.jpg),url(birds.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:difference;
    filter:none;
    background-position: center;
  }
  
  .container {
    display: flex;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    background-color: #102f44;
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  
  }
  button:hover{
    background-color: #2980b9;

  }